body {
  background-color: #a8eaff;
  background-size: 100%;
  margin: 30px;
}

h1 {
  text-align: center;
  font-family: Monaco;
}

.v1 {
  height: 250px;
}

.v2 {
  display: block;
  height: 125px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.active-nav-link {
  font-weight: bolder;
  color: white;
}

.active-nav-link:hover {
  color: grey;
}

.navbar-nav li {
  display: inline-block;
}

.nav-link {
  padding: 10px 15px;
}

.navbar-nav li a:focus, .navbar-nav li:hover {
  text-decoration: none;
  background-color: #eee;
}
