body{
    background-color: #a8eaff;
	background-size: 100%;
	margin: 30px;
    }
h1{
	text-align: center;
	font-family: Monaco;
    }
.v1{
    height: 250px;
}
.v2{
    height: 250px;
    max-width: 100%; 
}
